[MAIN]

disable=C0103, # invalid-name
        C0114, # missing-module-docstring
        C0115, # missing-class-docstring
        W0621, # redefined-outer-name
        R0801 # duplicate-code

[FORMAT]

max-line-length=120